<div align="center" style="margin-bottom:16px;">
  <div style="background-color:#fafafa;width=100%;">
    <span style="font-size:14px;color:#000000;font-weight:bold;padding:0 8px;">
      {% if site.active_lang == 'en' %}New <a href="https://fydeos.com/faq">FydeOS Help</a> is now live! This page is for archiving purposes only. The content won't be updated and maintained.
      {% else %}全新的 <a href="https://fydeos.com/faq">FydeOS 帮助网站</a>现已上线！该页面仅为存档所用，内容将不再更新和维护，请知悉。
      {% endif %}
    </span>
  </div>
</div>
